[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

twarc = "*"
warcio = "*"
"beautifulsoup4" = "*"
jupyter = "*"


[dev-packages]



[requires]

python_version = "3.6"
